* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'GmarketSans';
}

/* 반응형 고려한 img 설정 */
img {
  max-width: 100%;
  height: auto;
}

/* common 요소 */
li {
  list-style-type: none;
}

a {
  color: #242424;
  font-weight: 400;
  text-decoration: none;
}

button {
  border: none;
  color: #ffffff;
  outline: none;
  background-color: transparent;

}

/* header */
header {
  width: 100%;
  background-color: #ffffff;
}

.header-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 1200px;
  /* 상·하 여백 간격 */
  padding: 20px 0 15px 0;
  margin: 0 auto;
}

.top-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.top-left-link, .top-right-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.top-left-link {
  padding: 0;
}

.top-left-link-item a {
  margin-right: 40px;
  font-size: 14px;
}

.top-right-link-item a {
  margin-left: 40px;
  font-size: 14px;
}

.bottom-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.bottom-left-link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.nav-left-icon a {
  margin-right: 20px;
}

.nav-left-icon a img, .nav-right-icon a img {
  width: 25px;
  height: 25px;
}

.nav-menu1 {
  padding-left: 50px;
}

.nav-menu2 {
  padding-right: 50px;
}

.nav-menu1, .nav-menu2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.nav-menu-list a {
  margin-right: 70px;
}

.bottom-middle-link a {
  margin-right: 80px;
}

.bottom-middle-link a img  {
  width: 110px;
  height: auto;
}

.bottom-right-link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

/* main */
.top-section {
  background-image: url('../image/main-banner-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top5-movie {
  padding-top: 300px;
}

.movie-category {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 15px;
  color: #646464;
  font-size: 17px;
}

.item a {
  color: #4b4b4b;
}

.item a:hover {
  color: #ffffff;
}

.item a:active {
  color: #ffffff;
}

.box-office {
  padding-right: 10px;
}

.lasest-release {
  padding: 0 10px 0 10px;
}

.screening-scheduled {
  padding-left: 10px;
}

.box-office, .lasest-release {
  border-right: 1px solid #4b4b4b;
}

.top-section-inner {
  max-width: 1200px;
  /* poster 이미지 높이 조절-반응형 반영 */
  padding: 36% 0% 5% 0%;
  margin: 0 auto;
}

.box-office-poster {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/* prev button */
.prev-btn {
  margin-right: 25px;
}

.movie-poster {
  padding: 5px;
}

.movie-poster img {
  border-radius: 8px;
}

.reserve-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 8px 0 0 8px;
}

.like-btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-right: 15px;
}

.like-num {
  margin-left: 5px;
  color: #ffffff;
  font-family: 'GmarketSans';
}

.reserve {
  padding: 5px 45px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  background-color: #e60012;
}

/* next button */
.next-btn {
  margin-left: 25px;
}

.search-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 78px;
  margin-top: 50px;
  background-color: rgba(32, 32, 32, 0.5);
}

.search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 698px;
  height: 38px;
  border-bottom: 1px solid #4b4b4b;
}

.search input {
  width: 100%;
  height: 100%;
  border: none;
  color: #4b4b4b;
  font-size: 15px;
  font-family: 'GmarketSans';
  background-color: transparent;
}

.search-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.search-btn {
  width: 23px;
  height: 23px;
  background-image: url('../image/search-icon-w.png');
}

.quick-reserve span {
  color: #ffffff;
  font-weight: 500;
}

/* main middle section */
.middle-section {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.middle-section-inner {
  max-width: 1200px;
  margin: 0 auto
}

/* 작은영화관 */
.small-theater {
  margin-top: 80px;
}

.small-theater h3 {
  padding-bottom: 10px;
  border-bottom: 1px dashed #646464;
  font-weight: 500;
}

.small-theater-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 50px 0 150px 0;
}

/* 이벤트 */
.event-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.event-title h3 {
  font-weight: 500;
}

/* 이벤트-더보기 */
.event-more-btn {
  color: #242424;
  font-family: 'GmarketSans';
  font-weight: 400;
}

/* 이벤트 광고 모음 */
.event-ad-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 0;
}

.event-ad-list a img {
  padding-top: 2px;
  padding-right: 11px;
}

/* 왼쪽 여백 없앰 */
.event-left-wrap, 
.event-first-wrap,
.event-ad-list,
.event-second-wrap {
  padding-left: 0;
}

.event-first-wrap,
.event-second-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.event-third-wrap {
  padding: 0px;
}


/* 시사회/무대인사 */
.preview {
  margin-top: 100px;
}

/* 시사회/무대인사 타이틀 */
.preview-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.preview-title h3 {
  font-weight: 500;
}

/* 시사회/무대인사-더보기 */
.preview-more-btn {
  color: #242424;
  font-family: 'GmarketSans';
  font-weight: 400;
}

.preview-img-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

/* 공지사항 */
.notice {
  width: 100%;
  height: auto;
  padding: 10px 0 10px 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-bottom: 80px;
}

.notice-inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* 공지사항 타이틀 */
.notice-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.notice-tilte-left {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 10px 0 10px 0;
}

.notice-tilte-left h4 {
  padding-right: 10px;
  border-right: 1px solid #000000;
  font-weight: 500;
}

.notice-tilte-left span {
  padding-left: 10px;
}

.notice-all {
  color: #fc6262;
}

.notice-title-right span {
  border-right: 1px solid #000000;
}

.notice-more-btn {
  color: #242424;
  font-family: 'GmarketSans';
  font-size: 12px;
  font-weight: 400;
}

/* 북마크 */
.bookmark {
  width: 100%;
  height: auto;
  margin-bottom: 120px;
}

.bookmark-inner {
  max-width: 1320px;
  margin: 0 auto;
}

.bookmark-icon-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* 광고 배너 */
.ad-banner {
  width: 100%;
  height: auto;
}

.ad-banner-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.ad-banner-img {
  text-align: center;
}

/* 푸터 */
.footer {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
}

.footer-inner {
  max-width: 1200px;
  padding: 40px 0 60px 0;
  margin: 0 auto;
}

/* 푸터 정보 */
.info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* 푸터 정보-첫번째 줄 */
.footer-first-info {
  padding: 5px 0 5px 0;
  margin-top: 30px;
}

.info li a,
.info li {
  font-size: 13px;
  font-weight: 400;
}

.company-info {
  padding-right: 10px;
  border-right: 1px solid #000000;
}

.list {
  padding: 0 10px 0 10px;
  border-right: 1px solid #000000;
}

.sitemap {
  padding-left: 10px;
}

/* 푸터 정보-두번째줄 */
.footer-second-info {
  padding: 5px 0 5px 0;
}

.business-info {
  padding-right: 10px;
  border-right: 1px solid #000000;
}

.represent-info {
  padding-left: 10px;
}

/* 푸터 정보-세번째줄 */
.footer-third-info {
  padding: 5px 0 5px 0;
}

.address-info {
  padding-right: 10px;
  border-right: 1px solid #000000;
}

.customer-info {
  padding-left: 10px;
}

/* 저작권 정보 */
.copy-info {
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400;
}